# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## Delete below progressively till the end of the project
#backend/app/logging_config.py 
##next commit (logging_config.py files): adding logging file (for cloudwatch) (on Friday) (comment above line and commit with the message)  
.env.example    
##next commit (.env.example): adding .env.example file with instructions (on saturday) (comment above line and commit with the message) 
Dockerfile
.github/workflows/ci-cd.yml
ecs/taskdef.json
##next commit (all above three files): adding GitHub Actions CI/CD pipeline      

##next commit (Just remove the very last line in the readme then commit): (on saturday) Completing readme file (comment above line and commit with the message)

# Virtual Environment
venv/

# IDE
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/
